<% include ./partials/header %>

<div class="ui centered container">
	<h1 class="ui main header centered text">
		Welcome to my Blog!
	</h1>
	<div class="ui left aligned container">
		<h2>
			About Me:
		</h2>
		<p>
			As you could probably intuit, my name is Aaron Bruce!
			I am 27 years old and an aspiring web developer. 
			I am currently expanding my knowlege of web development
			with Node.js, express.js, and mongoDB.
			This website is still a work in progress and I aim to have a
			presentable list of projects posted and hosted within my projects
			page.
		</p>
		<h4>
			Interests:
		</h4>
		<p>
			I have a passion for history, video games, and esoteric concepts.
			I care about the environment and would like to find a way to
			foster a harmonic relationship between my local community and 
			the environment we life around and within.
		</p>
		<p>
			I love minimalist aesthetic and I hope to own land and live
			in a small house with a modest homestead. I would like to do
			bee-keeping and raise chickens.
		</p>
		<h4>
			Technical Skillsets:
		</h4>
		<p>
			HTML, CSS, JavaScript, NodeJS, ExpressJS, EJS, MongoDB, mySQL
		</p>
	</div>
</div>


<% include ./partials/footer %>