<% include ./partials/header %>

<div class="ui centered container">
	<h1 class="ui main header centered text">
		Welcome to my Website!
	</h1>
	<div class="ui left aligned container">
		<h2>
			Profile:
		</h2>
		<p>
			Hello, my name is Aaron Bruce!
			I am a CCSU graduate with a double bachelors in Psychology and Criminal Justice.
			I earned a programming certificate from Tunixis Community College. Trained
			in Java, C++, mySQL, and Web Design & Development using HTML5 and CSS.
			I am currently expanding my knowlege of web development
			with the Technical Skillsets listed below.
		</p>
		<h4>
			Experience:
		</h4>
		<p>
			1-year Junior level experience in an ecommerce start up company performing investigative research
			and data scraping, cleansing, and quality assurance analysis.
		</p>
		<h4>
			Professional Goals:
		</h4>
		<p>
			I am currently seeking full-time career opportunities.
			Internships pertaining to software developement or Junior
			roles in IT.
		</p>
		<h4>
			Technical Skillsets:
		</h4>
		<p>
			HTML, CSS, JavaScript, NodeJS, ExpressJS, EJS, MongoDB, & mySQL
		</p>
	</div>
</div>


<% include ./partials/footer %>