<% include ./partials/header %>
	<div class="container">
		<header class="jumbotron">
			<h1>Projects</h1>
			<p>Take a gander at the work I have done!</p>
		</header>
		
		<div class="row" style="display:flex; flex-wrap: wrap;">
			<div class="col-lg-12">
				<div class="thumbnail">
					<img class="img-fluid" alt="Responsive image" src="https://images.unsplash.com/photo-1565492206137-0797f1ca6dc6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
					<div class="caption">
						<h4>Tarot</h4>
						<p>
							An application that provides options for selecting a tarot card
							from a deck of Major & Minor Arcana cards. Currently only 
							displays card's name and meanings in its vertical state. Images 
							are not yet available.
						</p>
						<p>
							TarotHome will display a series of buttons for which kind of 
							spread you will like to view.
						</p>
						<p>
							A future version will include inverted meanings/states.<br>
							Next, I hope to include images to correspond this the card<br>
							Then, I would like to provide a flip effect Where upon drawing
							a new set of cards you would see the back side of the card. An
							OnClick event will run an effect of flipping the card to display
							its face.<br>
							A final version would mop up and refine the CSS display features,
							accompdating mobile devices and creating an aesthetic background 
							to match the card layouts.
						</p>
						<footer>HTML, CSS (bootstrap 3.3.7), NodeJS, ExpressJS, EJS, MongoDB</footer>
						<a class="btn btn-primary" href="/projects/tarotHome">Start</a>
					</div>
				</div>
			</div>
		</div>
	</div>
<% include ./partials/footer %>