<% include ./partials/header.ejs %>

<header class="jumbotron">
    <h1 class="container">
        Pick a Spread
    </h1>
</header>

<div class="container">
    <div class="row">
        <div class="col">
            <a class="btn btn-primary" href="/projects/tarot">Single Card</a>
            <a class="btn btn-default" href="/projects/tarot3">Three Cards</a>
        </div>
        <div class="col">
            <a class="btn btn-danger" href="/projects">Back</a>
        </div>
    </div>
</div>

<% include ./partials/footer.ejs %>